---
const { pathname } = Astro.url;

const links = [
  { href: "/", label: "Home" },
  { href: "/work", label: "Work" },
  { href: "/about", label: "About" },
  { href: "/contact", label: "Contact" },
];
---

<header>
  <nav>
    {
      links.map((link) => (
        <a
          href={link.href}
          class:list={["nav-link", { active: pathname === link.href }]}
        >
          {link.label}
        </a>
      ))
    }
  </nav>
</header>

<style>
  header {
    background-color: var(--background-color-light);
    margin-top: 0.75rem;
    padding: 0 1rem;
  }

  nav {
    gap: 0.25rem;
    display: flex;
    align-items: center;
    height: 100%;
  }

  .nav-link {
    color: inherit;
    display: flex;
    text-decoration: none;
    border-radius: 1rem 1rem 0 0;
    background-color: var(--background-color);
    padding: 0.5rem 4rem;
    border: 1px solid black;
    border-bottom: none;
    font-size: 1.5rem;
  }

  .active {
    height: 1.2rem;
    position: relative;
    bottom: -2px;
    margin-bottom: -2px;
    border-bottom: none;
    overflow: visible;
    z-index: 10;
  }
</style>
